#plus {
  grid-row: 3/5;
  grid-column: 4;
}

.main {
  background-color: table;
}

#equal {
  grid-row: 5/8;
  grid-column: 4;
}

.calculator {
  display: grid;
  grid-template-rows: repeat(8, minmax(60px, auto));
  grid-template-columns: repeat(4, 60px);
  grid-gap: 12px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 10px;
}

.display,
.answer {
  grid-column: 1/5;
  display: flex;
  align-items: center;
}

.display {
  color: #484848;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
  font-size: x-large;
  overflow: hidden;
  text-overflow: clip;
}

.answer {
  font-weight: 500;
  color: #484848;
  font-size: 55px;
  height: 65px;
}

.btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  color: #484848 !important;
  background-color: #b3d9ff !important;
  border-radius: 10px !important;
}

#zero {
  grid-column: 1/3;
}

.card {
  border-radius: 35px !important;
}

.clear {
  position: fixed;
  right: 35px;
  z-index: 10;
  bottom: 10%;
  color: white !important;
  background-color: #ffbabc !important;
}

hr {
  margin: 0rem !important;
}

